<!--begin comment-->
    <div id="comments_display" class="widget-header">
        {%if  commentable == 1 or comments.len > 0 %}
        <h4>评论区</h4>
        {%endif%}
        {%for comment in comments%}
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <div>
                    <p style="color: rgb(66, 67, 68);"><i class="fa fa-calendar-o"></i>{{comment.time}}</p>
                </div>
                <div align="right">
                    <img src="/media/avatar/person_default.jpg" width="24" height="24" alt="avatar">
                    {%if comment.highlight%}
                    <u style="background-color:cyan">{{comment.commenter}}（部门回复）</u>
                    {%else%}
                    <u>{{comment.commenter}}</u>
                    {%endif%}
                </div>
            </div>
            {%if comment.content != ""%}
            <textarea name="comment" class="form-control" disabled="disabled">{{comment.content}}</textarea>
            {%endif%}
            <hr>
        </div>
        {% endfor %}
    </div>
    {%if commentable %}
    <form role="form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <br>
            <br>
            <div class="form-group">
                <textarea type="text" id="comment" name="comment"
                          class="form-control"
                          aria-label="Default" rows="3"
                          placeholder="添加评论"></textarea>
                <br>
                <div>
                    <div style="text-align:right;">
                        <button type="submit"
                                class="btn btn-primary btn-sm mb-4 mr-2"
                                name="comment_submit" value="1">
                            回复
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--end comment-->
    {%endif%}
    